################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Iffco.Malaysia.Server/obj/*
/Iffco-Malaysia.client/obj/Debug
/Iffco-Malaysia.Server/bin/Debug/net8.0
/Iffco-Malaysia.Server/obj
/Iffco-Malaysia.Server//Iffco-Malaysia.Server.csproj.user
/node_modules
/.vs/ProjectEvaluation
# /mauritius.einvoicing.client/yarn.lock
Iffco.Malaysia.client/yarn.lock
/Iffco.Malaysia.Server/bin/Debug/net8.0/Iffco.Malaysia.Server.dll
/Iffco.Malaysia.Server/bin/Debug/net8.0/Iffco.Malaysia.Server.exe
/Iffco.Malaysia.Server/obj/Debug/net8.0/ref/Iffco.Malaysia.Server.dll
/Iffco.Malaysia.Server/obj/Debug/net8.0/refint/Iffco.Malaysia.Server.dll
/Iffco.Malaysia.Server/obj/Debug/net8.0/apphost.exe
/Iffco.Malaysia.Server/obj/Debug/net8.0/Iffco.Malaysia.Server.AssemblyInfo.cs
/Iffco.Malaysia.Server/obj/Debug/net8.0/Iffco.Malaysia.Server.AssemblyInfoInputs.cache
/Iffco.Malaysia.Server/obj/Debug/net8.0/Iffco.Malaysia.Server.csproj.CoreCompileInputs.cache
/Iffco.Malaysia.Server/obj/Debug/net8.0/Iffco.Malaysia.Server.GeneratedMSBuildEditorConfig.editorconfig
/Iffco.Malaysia.Server/obj/Debug/net8.0/Iffco.Malaysia.Server.dll
/Iffco.Malaysia.Server/obj/Debug/net8.0/Iffco.Malaysia.Server.genruntimeconfig.cache
/Iffco.Malaysia.Server/obj/Debug/net8.0/Iffco.Malaysia.Server.pdb
/Iffco.Malaysia.Server/obj/Debug/net8.0/Iffco.Malaysia.Server.sourcelink.json
/Iffco.Malaysia.Server/obj/Debug/net8.0/spa.proxy.json
/Iffco.Malaysia.Server/obj/Debug/net8.0/staticwebassets.build.json
/Iffco.Malaysia.Server/obj/Iffco.Malaysia.Server.csproj.nuget.dgspec.json
/Iffco.Malaysia.Server/obj/Iffco.Malaysia.Server.csproj.nuget.g.props
/Iffco.Malaysia.Server/obj/project.assets.json
/Iffco.Malaysia.Server/obj/project.nuget.cache
/Iffco.Malaysia.Server/bin/Debug/net8.0/Iffco.Malaysia.Server.pdb
